html{
    background-color:beige;
}
h1{
    color: black;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    text-align: center;

}
p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 10px;
    text-align: center;
    mix-blend-mode: multiply;
}
a{
    text-decoration: none;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    font-size: 30px;
    text-align: center;
}
div{
    text-align: center;
}
img{
    border-radius: 50%;
    max-width: 200px;
    max-height: 200px;
}
li{
    text-align: center;
    font-size: 30px;
}
h2{
    color: black;
    text-align: center;
}
h3{
    color: black;
    text-align: end;
    font-size: 15px;
}
h4{
    color: black;
    text-align: end;
    font-size: 15px;
}
h5{
    color: black;
    text-align: end;
    font-size: 15px;
}