body{
    background-color:#ffeeb7;
}
h4{
    font-family: 'Times New Roman', Times, serif;
    font-size: 40px;    
}
img{

    width: 400px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50px;
    margin-top: auto;
    margin-bottom: auto;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77)
}
.menu{
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    color: black;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77)
}
ul{
    text-align: center;
}
p{
    display: inline-block;
    width: 70%;
    vertical-align: middle;
    font-size: larger;
}
h3{
    border: 1px solid red;
    display: inline-block;
    width: 70%;
    vertical-align: middle;
}
li{
    background-color: #bba251;
    border-radius: 70px;
    -webkit-box-shadow: 3px 3px 3px 3px rgba(50, 50, 50, 0.77)
    
}
.menu th{
    background-color: #bba251;
}
a{
    color: black;
}